/*---------------------------------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

/* TESTERS */

.bg-blue {
    background-color: lightblue;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.airport-selector {
    margin-top: 1rem;
    padding: .7rem;
}

/*-------------------------------------- General */
body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #3b3b3b;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 700;
}

/*-------------------------------- Landing Page */

#landing-page-bg {
    background: url(../images/stratus-clouds.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 102vh;
}

#opaque-overlay {
    background-color: rgb(0 0 0 / 55%);
    min-height: 102vh;
}

#landing-card {
    height: 78vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
}

.card-child {
    width: 100%;
    height: 100%;
}

#landing-header {
    padding-bottom: 3vh;
}

#landing-header img {
    height: 100%;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
}

#landing-intro {
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    max-width: 450px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

#landing-button {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#down-button {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #f0863a;
    border-color: #673816;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #bb6629;
    border-color: #000;
    -webkit-box-shadow: 0 0 3px 0.25rem #0000004d;
    box-shadow: 0 0 3px 0.25rem #0000004d;
}



/*-------------------------------------- Header */
/* .sticky-top {
    background-color: white;
} */

#logo {
    width: 170px;
}

#clr-airports {
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: black;
}

#ap-header {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#btn-del-airport {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    font-size: 140%;
    color: black;
}

#btn-add-airport {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    font-size: 140%;
    color: black;
}

#back-btn {
    float: right;
}

#welcome {
    background-color: #99d899;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}

/* -----------------------------------Radar Map */
#radar-section {
    height: 450px;
}

#radar-map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#map-display-type {
    height: 30px;
    width: 210px;
    border-radius: 15px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 50%);
    background-color: #c6cfd1;
    border: 1px solid #000;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.type-button {
    color: #000;
    width: 50%;
    text-align: center;
    height: 100%;
    line-height: 27px;
    cursor: pointer;
}

.selected-left {
    background: #f0863a;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.selected-right {
    background: #f0863a;
    color: #fff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

/* https://codepen.io/magnificode/pen/ojYJJP */


#mapid {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#control-bar {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    bottom: 22px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 44px;
    width: 210px;
    border-radius: 23px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 50%);
    background-color: #c6cfd1;
    border: 1px solid #000;
}

#play-toggle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #e3e3e3;
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    left: -2px;
}

#last-frame {
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timestamp {
    margin-right: 12px;
    color: #000;
    bottom: 2px;
    position: relative;
    font-size: 19px;
}

#next-frame {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-control-attribution {
    font-size: 7px !important;
}

/* ------------------------------------------------ */

.navbar-brand h1 {
    display: inline-block;
}

#airportInput {
    text-transform: uppercase;
}

.delete-container {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 15%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: grey;
}

.delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.airport-selector {
    background-color: lightgrey;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.airport-text {
    width: 85%;
}

#elevation {
    float: right;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .4rem 1rem;
}

/* ----------------------------------------------Footer */

.sm-icons {
    font-size: 2rem;
    text-align: center;
    color: #f0863a;
    margin: 26px 22px;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sm-icons:hover {
    color: #bb6629;
}

footer p {
    font-size: 0.7rem;
}

footer p a {
    color: #fff;
}

footer p a:hover,
footer p a:focus,
footer p a:active:focus,
footer p a:active {
    color: #bebebe;
}

/* MEDIA QUERIES */

/* SCREEN SIZE LARGER THAN IPHONE 5 */
@media screen and (min-width:325px) {
    #landing-card {
        padding-top: 3vh;
    }
}

/* SCREEN SIZE SM and up */
@media screen and (min-width:576px) {
    #logo {
        width: 180px;
    }
}

/* SCREEN SIZE MD and up */
@media screen and (min-width:768px) {

    #landing-card {
        padding-top: 9vh;
    }

    #radar-section {
        height: 550px;
    }
}

/* SCREEN SIZE LG and up */
@media screen and (min-width:992px) {

    #logo {
        width: 190px;
    }

    #radar-section {
        height: 600px;
        padding: 100px 100px 0 100px;
    }
}

/* SCREEN SIZE XL and up */
@media screen and (min-width:1200px) {

    #logo {
        width: 195px;
    }

    #radar-section {
        height: 650px;
        padding: 125px 150px 0 150px;
    }
}

/* SCREENS SIZE XXL and up */
@media screen and (min-width:1400px) {

    #logo {
        width: 200px;
    }
}

/* 1600px wide and up */
@media screen and (min-width:1600px) {
    #logo {
        width: 210px;
    }
}

/* 1900px wide and up */
@media screen and (min-width:1900px) {
    #logo {
        width: 220px;
    }

    #landing-card {
        padding-top: 12vh;
    }

    #radar-section {
        height: 750px;
        padding: 125px 200px 0 200px;
    }
}

/*  Apple 4k Monitor */
@media screen and (min-width:2500px) {
    #logo {
        width: 250px;
    }

    #radar-section {
        height: 900px;
        padding: 125px 375px 0 375px;
    }
}