/*---------------------------------------- Fonts */

@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Lexend+Zetta&display=swap');

/* TESTERS */

.bg-blue {
    background-color: lightblue;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.airport-selector {
    margin-top: 1rem;
    padding: .7rem;
}

/*-------------------------------------- General */
body {
    font-family: 'B612', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 700;
}

/*-------------------------------- Landing Page */

#landing-page-bg {
    background: url(../images/stratus-clouds.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

#opaque-overlay {
    background-color: rgb(0 0 0 / 35%);
    min-height: 100vh;
    /* width: 100%;
    position: absolute; */
}

#landing-header img {
    height: 33vh;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
}

#landing-ethos {
    text-align: center;
    color: #fff;
    width: 100%;
}

#landing-intro {
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 450px;
    margin: 5vh auto;
}

#landing-button {
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    padding: 7vh 0;
    font-size: 1rem;
}

/*-------------------------------------- Header */
/* .sticky-top {
    background-color: white;
} */

#logo {
    width: 200px;
}

#clr-airports {
    float: left;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: black;
}

#ap-header {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#btn-del-airport {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    font-size: 140%;
    color: black;
}

#btn-add-airport {
    float: right;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background: none;
    border: none;
    font-size: 140%;
    color: black;
}

#back-btn {
    float: right;
}

#welcome {
    background-color: #99d899;
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
}

/* -----------------------------------Radar Map */
#radar-map-container {
    width: 100%;
    height: 400px;
}

#map-display-type button {
    display: inline-block;
    border: 0;
    margin-right: -4px;
    width: 50%;
    border-radius: 0;
}

#mapid {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#control-bar {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    position: relative;
    z-index: 1;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 44px;
    width: 210px;
    border-radius: 23px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 50%);
    background-color: #c6cfd1;
    border: 1px solid #000;
}

#play-toggle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #e3e3e3;
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    left: -2px;
}

#last-frame {
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timestamp {
    margin-right: 12px;
    color: #000;
    bottom: 2px;
    position: relative;
    font-size: 19px;
}

#next-frame {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-control-attribution {
    font-size: 7px !important;
}

/* ------------------------------------------------ */

.navbar-brand h1 {
    display: inline-block;
}

#airportInput {
    text-transform: uppercase;
}

.delete-container {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 15%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: grey;
}

.delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.airport-selector {
    background-color: lightgrey;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.airport-text {
    width: 85%;
}

#elevation {
    float: right;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .4rem 1rem;
}



/* MEDIA QUERIES */

/* SCREEN SIZE LARGER THAN IPHONE 5 */
@media screen and (min-width:325px) {
    #landing-card {
        padding-top: 3vh;
    }
}

/* SCREEN SIZE SM and up */
@media screen and (min-width:576px) {
    #logo {
        width: 225px;
    }
}

/* SCREEN SIZE MD and up */
@media screen and (min-width:768px) {

    #logo {
        width: 250px;
    }

    #landing-card {
        padding-top: 9vh;
    }
}

/* SCREEN SIZE LG and up */
@media screen and (min-width:992px) {

    #logo {
        width: 275px;
    }
}

/* SCREEN SIZE XL and up */
@media screen and (min-width:1200px) {

    #logo {
        width: 300px;
    }
}

/* SCREENS SIZE XXL and up */
@media screen and (min-width:1400px) {

    #logo {
        width: 325px;
    }
}

/* 1600px wide and up */
@media screen and (min-width:1600px) {
    #logo {
        width: 350px;
    }
}

/* Apple iMac 5K monitor */
@media screen and (min-width:1950px) {
    #logo {
        width: 375px;
    }

    #landing-card {
        padding-top: 12vh;
    }
}