@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@200;300;400;500;600&display=swap');

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #3b3b3b;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

p {
    margin-bottom: 0;
}

footer {
    margin-top: auto;
}

#landing-page-bg {
    background: url(../images/stratus-clouds.webp) center center no-repeat;
    background-size: cover;
}

#landing-card {
    height: 75vh;
    min-height: 420px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-child {
    width: 100%;
    height: 100%;
}

#landing-header img {
    height: 100%;
    max-width: 90vw;
    display: block;
    margin: 0 auto;
}

#landing-intro {
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    max-width: 450px;
    font-size: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#landing-intro p {
    font-weight: 300;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 1);
}

#landing-button {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#blur-bottom {
    max-height: 8vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0, 0)), to(rgb(0, 0, 0)));
    background-image: -o-linear-gradient(top, rgb(0, 0, 0, 0), rgb(0, 0, 0));
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0));
}

#get-briefed {
    color: #000;
    background-color: #f0863a;
    border-color: #673816;
    -webkit-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

#get-briefed:hover,
#get-briefed:active,
#get-briefed:focus,
#get-briefed:active:focus {
    background-color: #bb6629;
    border-color: #000;
    -webkit-box-shadow: 0 0 3px 0.25rem #0000004d;
    box-shadow: 0 0 3px 0.25rem #0000004d;
}

.burger-menu {
    margin: auto 0;
}

#burger {
    width: 37px;
    height: 30px;
    position: relative;
    display: block;
    z-index: 10000;
    margin-right: 1rem;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#line-one,
#line-two {
    margin-bottom: 9px;
}

.rotate-top {
    -webkit-transform: rotate(45deg) translate(8px, 10.5px);
    -ms-transform: rotate(45deg) translate(8px, 10.5px);
    transform: rotate(45deg) translate(8px, 10.5px);
    width: 110%;
}

.slide-out {
    background: transparent;
}

.rotate-bottom {
    -webkit-transform: rotate(-45deg) translate(8px, -10.5px);
    -ms-transform: rotate(-45deg) translate(8px, -10.5px);
    transform: rotate(-45deg) translate(8px, -10.5px);
    width: 110%;
}

.hr-menu {
    display: none;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(240, 134, 58, 0.8)), to(rgb(240, 134, 58, 1)));
    background: -o-linear-gradient(left, rgb(240, 134, 58, 0.8), rgb(240, 134, 58, 1));
    background: linear-gradient(to right, rgb(240, 134, 58, 0.8), rgb(240, 134, 58, 1));
    border-radius: 2px;
    position: absolute;
    right: -100px;
    width: 200px;
}

#home img {
    width: 73px;
    margin-left: -9px;
}

.nav-menu {
    z-index: 9999;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    background: #3b3b3b;
    right: 0;
    top: 0;
    position: absolute;
    display: none;
    -webkit-box-shadow: 0 0 8px 5px rgb(0, 0, 0, 0.5);
    box-shadow: 0 0 8px 5px rgb(0, 0, 0, 0.5);
}

.nav-list {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nav-item {
    padding-top: 2rem;
    padding-right: 1.0rem;
    list-style: none;
    display: none;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.opaque-header {
    background-color: #3b3b3b !important;
}

.header-bar {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 0;
}

.header-bar .burger-menu {
    margin-left: auto;
    background: none;
}

.fixed-top {
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
}

.active {
    background: #3b3b3b;
    -webkit-box-shadow: 0 1px 5px rgb(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgb(0, 0, 0, 0.25);
}

#logo {
    width: 170px;
}

#header-title {
    text-align: center;
    background: #5b5b5b;
    padding: 4px 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.ap-controls {
    background: #3c3c3c;
    -webkit-box-shadow: 0 5px 5px 0 rgb(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px 0 rgb(0, 0, 0, 0.3);
    background-color: #f0863a;
}

.btn-nav {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #000;
    background: none;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    appearance: none;
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-nav:hover,
.btn-nav:active,
.btn-nav:focus,
.btn-nav:active:focus {
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ce7536;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}

#edit-airports {
    height: 40px;
    width: 40px;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: none;
    border: none;
    font-size: 1.3125rem;
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 25px;
}

#edit-airports:hover,
#edit-airports:active,
#edit-airports:focus,
#edit-airports:active:focus {
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ce7536;
}

#btn-add-airport {
    height: 40px;
    width: 40px;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: none;
    border: none;
    font-size: 1.3125rem;
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
}

#btn-add-airport:hover,
#btn-add-airport:active,
#btn-add-airport:focus,
#btn-add-airport:active:focus {
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ce7536;
}

#airports {
    margin-top: 149px;
}

.delete-container {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 15%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: grey;
}

.delete {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.airport-selector {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    color: #fff;
    font-size: 1.125rem;
    background: #7F7F7F;
    background: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#454545));
    background: -o-linear-gradient(top, #646464, #454545);
    background: linear-gradient(to bottom, #646464, #454545);
    -webkit-box-shadow: 1px 1px 10px 0 rgb(0, 0, 0, 0.5);
    box-shadow: 1px 1px 10px 0 rgb(0, 0, 0, 0.5);
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    -webkit-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
    margin-top: 1rem;
    padding: 0.7rem;
}

.airport-selector p {
    margin: 0.3rem 0;
}

.shrink {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.grow {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#add-airport {
    color: #000;
    background-color: #f0863a;
    border-color: #673816;
    -webkit-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

#add-airport:hover,
#add-airport:active,
#add-airport:focus,
#add-airport:active:focus {
    background-color: #bb6629;
    border-color: #000;
    -webkit-box-shadow: 0 0 3px 0.25rem #0000004d;
    box-shadow: 0 0 3px 0.25rem #0000004d;
}

#warning {
    margin-bottom: 1rem;
}

#welcomeModal {
    color: #fff;
}

.welcome-header {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.btn-loc {
    width: 125px;
}

.fa-map-marker-alt {
    font-size: 3rem;
}

.btn-close:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.form-control:focus {
    color: #3b3b3b;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.modal-header {
    background-color: #f0863a;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-content {
    background-color: #3b3b3b;
    border: none;
    border-radius: 10px;
}

.modal-title {
    color: #000;
}

.btn-light,
.btn-danger {
    width: 5rem;
}

#radar-section {
    height: 500px;
}

.radar {
    height: 475px;
}

.radar-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
}

#map-display-type {
    height: 30px;
    width: 210px;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 50%);
    background-color: #c6cfd1;
    border: #000 solid 1px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 15px;
    bottom: 17px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
}

.type-button {
    color: #000;
    width: 50%;
    text-align: center;
    height: 100%;
    line-height: 27px;
    cursor: pointer;
}

.selected-left {
    background: #f0863a;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.selected-right {
    background: #f0863a;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#mapid {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#control-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    font-size: 18px;
    position: absolute;
    z-index: 1;
    bottom: 55px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 44px;
    width: 210px;
    border-radius: 23px;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 50%);
    background-color: #ffffff;
    border: #000 solid 1px;
}

#play-toggle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: #000000 solid 1px;
    background-color: #c6cfd1;
    margin-right: 17px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    left: -2px;
}

#last-frame {
    margin-right: 17px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#timestamp {
    margin-right: 17px;
    color: #000;
    bottom: 2px;
    position: relative;
    font-size: 15px;
}

#next-frame {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.leaflet-control-attribution {
    font-size: 7px !important;
}

#fullscreen-control {
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 83px;
    left: 10px;
    background-color: #ffffff;
    border: rgb(0, 0, 0, 0.2) solid 2px;
    background-clip: padding-box;
    border-radius: 4px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    line-height: 31px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-family: 'IBM Plex Mono', monospace;
}

#legend-control {
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 127px;
    left: 10px;
    background-color: #ffffff;
    border: rgb(0, 0, 0, 0.2) solid 2px;
    background-clip: padding-box;
    border-radius: 4px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    line-height: 31px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-family: 'IBM Plex Mono', monospace;
}

.legend-wrapper {
    display: none;
}

#legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    height: 229px;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -56%);
    -ms-transform: translate(0, -56%);
    transform: translate(0, -56%);
}

.label {
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    opacity: 1;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1rem;
    text-shadow: 2px 2px 2px rgb(0 0 0);
}

.label-black {
    color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    opacity: 1;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgb(0 0 0);
}

.key {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #ffffff;
    padding-left: 0;
    height: 232px;
}

.key li {
    padding-right: 10px;
}

.key ::before {
    content: "\2022";
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
    padding-right: 8px;
    display: inline-block;
    font-weight: 400;
    position: relative;
    bottom: 3px;
}

.key .hail::before {
    color: #ffaaff;
}

.key .storm::before {
    color: #f6f;
}

.key .heavy-rain::before {
    color: #e400b1;
}

.key .rain::before {
    color: #ef1001;
}

.key .moderate-rain::before {
    color: #ffab00;
}

.key .light-rain::before {
    color: #fffd1a;
}

.key .drizzle::before {
    color: #01d31a;
}

.key .overcast::before {
    color: #009f9f;
}

.key .heavy-snow::before {
    color: #000fff;
}

.key .moderate-snow::before {
    color: #207fff;
}

.key .light-snow::before {
    color: #8fffff;
}

.heavy-snow,
.moderate-snow,
.light-snow {
    font-weight: 700;
}

.leaflet-control-layers-toggle {
    cursor: pointer;
    margin-left: auto;
}

.base-control {
    color: #000;
    font-size: 14px;
    position: absolute;
    z-index: 1;
    top: 171px;
    left: 10px;
    background-color: #ffffff;
    border: rgb(0, 0, 0, 0.2) solid 2px;
    background-clip: padding-box;
    border-radius: 4px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    line-height: 31px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    font-family: 'IBM Plex Mono', monospace;
}

.base {
    position: absolute;
    top: 107px;
    left: 55px;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
}

.base-wrapper::before {
    content: " ";
    position: absolute;
    left: -14px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-top: 15px solid transparent;
    border-right: 15px solid white;
    border-left: none;
    border-bottom: 15px solid transparent;
}

.base-wrapper {
    display: none;
}

.map-base {
    width: 90px;
    display: block;
    padding: 10px;
}

.btn-base {
    padding-left: 5px;
    padding-right: 5px;
    color: #ffffff;
    background-color: #f0863a;
    border-color: #673816;
    -webkit-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
    width: 70px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 14px;
}

.btn-base:hover,
.btn-base:active,
.btn-base:focus,
.btn-base:active:focus {
    background-color: #bb6629;
    border-color: #000;
    -webkit-box-shadow: 0 0 3px 0.25rem #0000004d;
    box-shadow: 0 0 3px 0.25rem #0000004d;
}

#local-time,
#utc-time,
#elevation,
#runways-table,
#metar,
#taf,
#timestamp {
    font-family: 'IBM Plex Mono', monospace;
}

.airport-details {
    margin-top: 130px;
}

.location-details {
    margin: 0 auto;
}

.ap-bg {
    color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    background: #7F7F7F;
    background: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#454545));
    background: -o-linear-gradient(top, #646464, #454545);
    background: linear-gradient(to bottom, #646464, #454545);
    -webkit-box-shadow: 1px 1px 10px 0 rgb(0, 0, 0, 0.5);
    box-shadow: 1px 1px 10px 0 rgb(0, 0, 0, 0.5);
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.loc-times {
    margin-top: 10px;
    padding: 0;
}

#runways-header,
#metar-header,
#taf-header {
    margin-top: 16px;
}

#airportInput {
    text-transform: uppercase;
}

.airport-text {
    width: 85%;
    padding-top: 1rem;
    margin-top: -1rem;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
    padding-left: 1rem;
    margin-left: -1rem;
}

#elevation {
    float: right;
}

.hr {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(240, 134, 58, 0.7)), color-stop(rgb(240, 134, 58, 0.9)), to(rgb(240, 134, 58, 0.7)));
    background: -o-linear-gradient(left, rgb(240, 134, 58, 0.7), rgb(240, 134, 58, 0.9), rgb(240, 134, 58, 0.7));
    background: linear-gradient(to right, rgb(240, 134, 58, 0.7), rgb(240, 134, 58, 0.9), rgb(240, 134, 58, 0.7));
    border-radius: 2px;
}

table,
th,
td {
    border: #fff solid 1px;
    border-collapse: collapse;
    height: 30px;
    padding: 0.2rem 1rem;
}

#taf {
    padding-bottom: 2rem;
}

table {
    margin-top: 1rem;
}

.leaflet-container {
    background: #3b3b3b;
}

.sm-icons {
    font-size: 2rem;
    text-align: center;
    color: #f0863a;
    margin: 26px 22px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sm-icons:hover {
    color: #bb6629;
}

footer p {
    font-size: 10px;
    padding-bottom: 1rem;
}

footer p a {
    color: #fff;
}

footer p a:hover,
footer p a:focus,
footer p a:active:focus,
footer p a:active {
    color: #bebebe;
}

.ui-accordion {
    font-family: 'IBM Plex Sans', sans-serif;
    background: #3b3b3b;
    color: #fff;
}

.ui-accordion-header {
    width: 100%;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    background: #5b5b5b;
    -webkit-box-shadow: 1px 1px 10px 0 rgb(0, 0, 0, 0.5);
    box-shadow: 1px 1px 10px 0 rgb(0, 0, 0, 0.5);
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    outline: none;
}

.ui-accordion-header-active {
    border: none;
}

.ui-accordion-header-collapsed {
    border: none;
}

.ui-accordion-content {
    padding: 1rem 0.7rem !important;
    background: #3b3b3b;
    color: #ffffff;
}

.ui-accordion-content a {
    display: block;
    color: #ffffff;
    margin-top: 1rem;
}

.ui-accordion-content img {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ui-widget-content {
    border: #dddddd50 solid 1px;
}

.ui-state-focus {
    outline: none;
}

#submit {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
}

.btn-custom {
    color: #000;
    background-color: #f0863a;
    border-color: #673816;
    -webkit-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:active:focus {
    background-color: #bb6629;
    border-color: #000;
    -webkit-box-shadow: 0 0 3px 0.25rem #0000004d;
    box-shadow: 0 0 3px 0.25rem #0000004d;
}

#fof-bg {
    background: url(../images/fof.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fof-box {
    background-color: #3b3b3bd4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px 0 10px
}

@media screen and (min-width: 325px) {}

@media screen and (min-width: 576px) {
    #logo {
        width: 180px;
    }
}

@media screen and (min-width: 768px) {
    #radar-section {
        height: 550px;
    }

    #name-header {
        float: right;
    }

    .location-details {
        margin-bottom: 2rem;
    }

    .radar {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}

@media screen and (min-width: 992px) {
    #logo {
        width: 190px;
    }

    #radar-section {
        height: 600px;
        padding: 100px 100px 0 100px;
    }
}

@media screen and (min-width: 1200px) {
    #logo {
        width: 195px;
    }

    #radar-section {
        height: 650px;
        padding: 125px 150px 0 150px;
    }

    .pr {
        padding-right: 1rem;
    }

    .pl {
        padding-left: 1rem !important;
        padding-left: 1rem !important;
        margin-top: auto;
        margin-bottom: auto;
    }

    .radar {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 1400px) {
    #logo {
        width: 200px;
    }
}

@media screen and (min-width: 1600px) {
    #logo {
        width: 210px;
    }
}

@media screen and (min-width: 1900px) {
    #logo {
        width: 220px;
    }

    #radar-section {
        height: 750px;
        padding: 125px 200px 0 200px;
    }
}

@media screen and (min-width: 2500px) {
    #logo {
        width: 250px;
    }

    #radar-section {
        height: 900px;
        padding: 125px 375px 0 375px;
    }
}